pkgbase = iw-tools
	pkgdesc = Wireless tools.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/iw-tools
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = libcrash-bash
	depends = iw
	depends = tsu
	source = iw-tools-91bca1a6b95fdc28abbb7c3820f96d7ef33851d7.zip::https://github.com/themartiancompany/iw-tools/archive/91bca1a6b95fdc28abbb7c3820f96d7ef33851d7.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 1a7f4a3a6b7a79587b4b8a6872416f027c25cbb68ddf78c42ab1231d4af9daba

pkgname = iw-tools
